[Unit]
Description=Druzhische Telegram Bot Service
After=network.target

[Service]
Type=simple
User=root
# This path will be automatically replaced by start.sh
WorkingDirectory=/path/to/druzhische-bot
# This path will be automatically replaced by start.sh
ExecStart=/path/to/druzhische-bot/venv/bin/python3 app.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target