[Unit]
Description=Druzhische Telegram Bot Service
After=network.target

[Service]
Type=simple
User=root
# This path will be automatically replaced by start.sh
WorkingDirectory=/Users/thamgr/Documents/GitHub/druzhische-bot
# This path will be automatically replaced by start.sh
ExecStart=/Users/thamgr/Documents/GitHub/druzhische-bot/venv/bin/python app.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target